{% extends 'base.html' %}
{% block body %}

<script>
    var typetest1 = typeof(session);
    console.log(typetest1);

    var typetest3 = typeof(session[melon]);
    console.log(typetest3);
</script>
<table class="table table-striped">
    <tr><th>Melon Name</th><th>Quantity</th><th>Price</th><th>Total</th></tr>
    {% for melon in session %}
        <tr>
            {% if session[melon]|length > 3 %}
                <td>{{session[melon][0]}}</td><td>{{session[melon][2]}}</td><td>${{'%0.2f'%session[melon][1]|float}}</td><td>${{'%0.2f'%session[melon][3]|float}}</td>
            {% endif %}
        </tr>
    {% endfor %}

</table>
<h3>Total: {{total}}</h3>


<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
{% endblock %}
