{% extends 'base.html' %}
{% block body %}

<table class="table table-striped">
    <tr><th>Melon Name</th><th>Quantity</th><th>Price</th><th>Total</th></tr>
    {% for melon in session['cart'].values() %}
        <tr>
            {% if melon|length > 3 %}
                <td>{{melon[0]}}</td><td>{{melon[2]}}</td><td>${{'%0.2f'%melon[1]|float}}</td><td>${{'%0.2f'%melon[3]|float}}</td>
            {% endif %}
        </tr>
    {% endfor %}

</table>
<h3>Total: {{total}}</h3>


<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
{% endblock %}
